# --------------------
# App Files
# --------------------
public/js/app.js
public/css/app.css
log/

# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log*
node_modules/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# Mvim Files
# --------------------
*.un
*.un~
